.bookmarklet {
  position: absolute;
  right: 1.1em;
  bottom: 1.1em;

  background: #fff;
  color: #333;
  padding: .2em;

  border-radius: 8px;

  p {
    font-size: .3em;
    text-align: right;
  }

  a {
    display: inline-block;
    text-align: center;
    padding: .3em .6em;
    background-color: rgba(0,0,0,0.1);
    border-radius: 8px;
    margin: 0 auto;
    text-decoration: none;
    font-weight: 600;
    color: #222;
  }

}
